html, body {
    height: 100%;
}

body {
    /*background-color: rgb(255, 255, 255);*/
    background-image: url(imagens/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

h1 {
    color: #ECE852;
    text-shadow: 0 4px 6px rgba(0,0,0, .2);
    background-color: #FF8383;
    padding-left: 8%;
    padding-right: 7%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-size: 25px;
    box-shadow: 0 2px 6px rgba(0,0,0, .2);
}
.main-title {
    color:floralwhite
}

.list-wrapper {
    background-color: #FF8383;
    width: 90%;
    max-width: 500px;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0, .2);
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-item {
    display: flex;
    border-bottom: 1px solid #faa7a7;
    padding: 16px:
}

.list-item__imagem img {
    height: 128px;
    width: 128px;
    border-radius: 50%;
    margin: 10px;
}

.list-item__content {
    padding: 0px 20px;
    flex-grow: 1;
}

.list-item__name {
    font-size: 24px;
    color: #faf389;
    margin-top:5px;
    padding-top: ;
}

.list-item__email {
    margin: 5px 0 0;
    color: #fac0c0;

}

.list-item:hover{
    background-color: #f66a6a;
}

.list-item__action {
    display: flex;
    gap: 8px;
    align-items: center;
    opacity: .1;
    display: none;
}

.list-item:hover .list-item__action{
    display: flex;
}