body{
    background-color: #B76E79;
}
h1 {
    color:pink;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size:48px;
    font-style: italic;
    font-weight: normal;
}

h3 {
    font-size: 38px;
    text-transform: capitalize;
    text-align: center;
    text-decoration: underline;
    background-color: rosybrown;
    color: aliceblue;
}

p {
    text-indent: 28px;
    text-align: left;
    font-size: 28px;
    color: #0000ff;
    font-variant: small-caps;
    font-weight: bold;
}

a {
    text-decoration: none;
    font-variant: normal;
    color: pink;
}
